html {
  scroll-behavior: smooth;
}

body {
  background-color: powderblue;
  width: 100%;
  font-size: 14px;
}

li {
  display: inline;
}

.footer {
  text-align: center;
}

.scroll {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}

.list-group-item {
  cursor: pointer;
}